nav {
    background: var(--color-primary);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a{
    background: var(--color-primary);
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-bg);
    font-size: 1.1rem;
}

nav a:hover {
    background: white;
    color:var(--color-bg);
}

nav a.active, nav a.current {
    background: var(--color-light);
    color: var(--color-white);
}


